* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #3498db, #8e44ad);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.70);
    width: 500px;
    height: 500px;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-8px);
}

h1 {
    font-size: 30px;
    color: rgb(40, 40, 67);
}

h2 {
    font-size: 24px;
    color: rgb(40, 40, 67);
}

label {
    margin-top: 50px;
    font-family: 18px;
    font-weight: bold;
    color: rgb(40, 40, 67);
}

input {
    padding: 10px;
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 5px rgba(44, 44, 44, 0.2);
}

button {
    box-shadow: 0 4px 5px rgba(44, 44, 44, 0.2);
    margin-top: 20px;
    background: linear-gradient(90deg, #3498db, #2980b9);
    height: 40px;
    width: 400px;
    border-radius: 16px;
    border: none;
    transition: transform 0.3s ease;
    color: white;
    font-weight: bold;
}

button:hover {
    background: linear-gradient(90deg, #2980b9, #3498db);
    transform: translateY(-8px);
}

#resultado {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(40, 40, 67);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.formula {
    margin-top: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -3px 0px 0px #3498db;
    color: rgb(40, 40, 67);
}

.formula h3 {
    font-size: 18px;
    
}